{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - Learn in Project{% endblock %}

{% block body %}
    <div class="d-flex">
        <div class="dashboard-menu px-2">
            <img class="dashboard-logo d-block" src="{{ asset("/public/images/logo-lip.svg") }}" alt="">
            <div class="account p-2">
                <p class="text-white">
                    Bonjour, <br />
                    {{ user.firstname }}
                    {{ user.lastname }}
                </p>
            </div>
            <h2 class="mt-3">Projets</h2>
            {% for announcement in announcements %}
                {% if announcement.user is not empty %}
                    <p class="text-white">👉 {{ announcement.name }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="m-5 right-part">
            {% if preferences_empty == 1 %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Enregistrez vos préférences et nous vous proposerons les meilleurs projets...
                <a class="btn btn-primary" href="{{ path("preferences") }}">C'est parti !</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <div class="announcements">
                {% for announcement in announcements %}
                    {% if announcement.user is empty %}
                        {% if domain != "null" %}
                            {% if announcement.domain == domain %}
                                <div class="announce p-4">
                                    <div class="announce__text">
                                        <h2>{{ announcement.name }}</h2>
                                        <p>{{ announcement.description }}</p>
                                    </div>
                                    <div class="announce__students">
                                        <h2>Étudiants</h2>
                                        <p>{{ announcement.numberOfStudents }} étudiants<br />
                                            {{ announcement.numberOfGroups }} groupes</p>
                                    </div>
                                    <div class="announce__domain">
                                        <h2>Domaine</h2>
                                        <p class="domaine-dev">{{ announcement.domain }}</p>
                                    </div>
                                    <div class="announce__register d-flex align-items-center">
                                        <a class="btn btn-primary" href="{{ path('add_announcement', { id: announcement.id }) }}">Ajouter</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="announce p-4">
                                <div class="announce__text">
                                    <h2>{{ announcement.name }}</h2>
                                    <p>{{ announcement.description }}</p>
                                </div>
                                <div class="announce__students">
                                    <h2>Étudiants</h2>
                                    <p>{{ announcement.numberOfStudents }} étudiants<br />
                                        {{ announcement.numberOfGroups }} groupes</p>
                                </div>
                                <div class="announce__domain">
                                    <h2>Domaine</h2>
                                    <p class="domaine-dev">{{ announcement.domain }}</p>
                                </div>
                                <div class="announce__register d-flex align-items-center">
                                    <a class="btn btn-primary" href="{{ path('add_announcement', { id: announcement.id }) }}">Ajouter</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}