{% extends 'base.html.twig' %}

{% block title %}Learn in Project - Accueil{% endblock %}

{% block body %}
    <div class="container homepage d-flex flex-column align-items-center">
        <div>
            <div class="homepage__cards d-flex flex-lg-row flex-column">
                <div class="homepage__cards--school" style="background-image: url('{{ asset("/public/images/ecole.jpeg") }}');">
                    <a href="{{ path("school_signin") }}">
                        <h2>École</h2>
                    </a>
                </div>
                <div class="homepage__cards--firm" style="background-image: url('{{ asset("/public/images/entreprise.jpg") }}');">
                    <a href="{{ path("company_signin") }}">
                        <h2>Entreprise</h2>
                    </a>
                </div>
            </div>
            <div class="mt-3 d-flex justify-content-center">
                <a class="text-center" href="{{ path("app_login") }}">Déjà un compte ? Connexion !</a>
            </div>
        </div>
    </div>

{% endblock %}