{% extends 'base.html.twig' %}

{% block body %}
    <div class="signin">
        <div class="left-side">
            <img class="mt-4 d-block mx-auto" src="{{ asset("/public/images/logo-lip.svg") }}" alt="Logo LIP">
        </div>
        <div class="p-5 right-side">
            <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
                <div>
                    <h1 class="text-center text-lg-start">Inscription <br />
                        Entreprise</h1>
                </div>
                <div class="w-100 w-lg-75 p-0 p-lg-3">
                    Nous avons besoin de vous pour nous fournir des renseignements de base sur la création d'un compte. Voici nos conditions d'utilisation. Veuillez les lire attentivement. Nous sommes conformes au RGPD
                </div>
            </div>
            <img class="my-5 d-block mx-auto w-100 separator" src="{{ asset("/public/images/separator.svg") }}" alt="Séparateur">
            {{ form_start(form) }}
            <div class="row mt-4 mt-lg-0">
                <div class="col-lg-6">
                    {{ form_row(form.email) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.first_name) }}
                </div>
            </div>
            <div class="row mt-0 mt-lg-5">
                <div class="col-lg-6">
                    {{ form_row(form.last_name) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.company) }}
                </div>
            </div>
            <img class="my-5 d-block mx-auto w-100 separator" src="{{ asset("/public/images/separator.svg") }}" alt="Séparateur">
            <div class="row">
                <div class="col-lg-6">
                    {{ form_row(form.siret) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.password) }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Inscription</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}