{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.school) }}
        {{ form_row(form.uai) }}
        {{ form_row(form.password) }}
        <button type="submit" class="btn btn-primary mt-4">Inscription</button>
    {{ form_end(form) }}
{% endblock %}